<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is the form</h1>

    <form action="/createcoach" method="post" enctype="multipart/form-data">
        <label for="name">Name </label>
        <input type="text" id="name" name="first_name">

        <label for="middle_name">middle name </label>
        <input type="text" id="middle_name">

        <label for="name">last name</label>
        <input type="text" id="name" name="last_name" >

        <label for="name">email </label>
        <input type="text" id="name" name="email">

        <label for="name">dob </label>
        <input type="text" id="name" name="dob">

        <label for="name">gender </label>
        <input type="text" id="name" name="gender">

        <label for="name">photo </label>
        <input type="file" id="name" name="thumbImage" multiple>

        <label for="name">Education file</label>
        <input type="file" id="name" name="fileSingle" multiple>

        <button type="submit">submit</button>
        

      
    </form>
</body>
</html>